body {
    font-family: Georgia, Cambria, 'Times New Roman', Times, serif;
    /* font-size: 18px; */
    font-size: 13.5pt;
    padding: 10px;

    /*image*/
    background-image: url("images/frisbeeWideShot.JPG");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed; /* keeps the background still */
}

.box {
    min-width: 575px;
    width: 85%;
    background-color: rgb(255, 255, 255, .95);
    box-shadow: 0px 0px 10px 2px rgb(0, 0, 0, .50);
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    padding: 30px 45px 30px 45px;
}

h1 {
    /*background-color: brown;*/
    margin:0px;
    /* font-size: 55px; */
    font-size: 42pt;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

p {
    font-family: Cambria, Georgia, 'Times New Roman', Times, serif;
}

.section-header {
    margin-top: 0px;
    margin-bottom: 20px;
    /* font-family: Georgia, 'Times New Roman', Times, serif; */

    /* font-size: 40px; */
    font-size: 30pt;
    text-align: center;
    margin-bottom: 10;
}

#profile {
    /*width: 70%;
    min-width: 550px;
    background-color: aquamarine;*/
    margin-left: auto;
    margin-right: auto;
}

ul {
    list-style-type: none;
}

/* general link */
a:link {
    color: blue;
    background-color: transparent;
    text-decoration: none;
}
a:visited {
    color: blue;
    background-color: transparent;
    text-decoration: none;
}
a:hover {
    color: royalblue;
    text-decoration: none;
}
a:active {
    color: royalblue;
    text-decoration: none;
}


/* poject titles */
.title-container {
    display: flex;
    justify-content: space-between;
    align-items: baseline; /* keeps h2 and h3 aligned nicely */
    /* font-family: Georgia, 'Times New Roman', Times, serif; */
}
.title {
    /*background-color: orange;*/
    margin: 0;
    min-width: 440px;
    /* font-size: 30px; */
    font-size: 24pt;
    font-weight:bolder;
}
.subtitle {
    /*background-color: lightpink;*/
    margin: 0;
    color: rgb(50, 50, 50);
    /* font-size: 18px; */
    font-size: 15pt;
    /* font-family: Georgia, 'Times New Roman', Times, serif; */
}
.date {
    /*background-color: lightgreen;*/
    margin: 0;
    float: right;
    min-width: 110px;
    margin-left: 10px;
    text-align: right;
    /*font-weight: normal;
    color: rgb(50, 50, 50);*/
    /* font-size: 18px; */
    font-size: 15pt;

}



/* links section and link items */
.links-section {   
    margin-left: auto;
    margin-right: auto;
    display: flex; 
    flex-wrap: wrap; 
    gap: 5%;
    justify-content: center;
}


.link-item {
    width: 60%;
    flex: 1 1 275px; 
    
    border-radius: 10px;
    box-shadow: 0px 0px 5px 1px rgb(149, 149, 149);
    background-color: white;
    transition: .5s;
    margin-bottom: 15px;

    /*min-width: 200px;*/
    max-width: 400px;
    max-height: 400px;
}
.link-item:hover {
    box-shadow: 0px 0px 10px 2px rgb(48, 48, 48);
    transition: .5s;

    /*make img bigger on hover
    opacity: 50%;
    -width: 63%;
    -min-width: 360px;
    -max-width: 510px;*/
}

.link-img {
    width: 100%; 
    border-radius: 10px 10px 0px 0px;

    max-height: 350px;
    object-fit: cover;
}

.link-caption {
    margin: 5px 0 10px 0;
    text-align: center;
    box-shadow: none;
    
}

/*small link item*/
.small-link-item {
    flex: 1 1 100px; 
    
    border-radius: 10px;
    box-shadow: 0px 0px 5px 1px rgb(149, 149, 149);
    background-color: white;

    transition: .5s;
    margin-bottom: 15px;

    /*min-width: 200px;*/
    max-width: 260px;
    max-height: 300px;
}
.small-link-img {
    width: 100%; 
    border-radius: 10px 10px 0px 0px;
    box-shadow: none;

    max-height: 260px;
    object-fit: cover;
}
.small-link-item:hover {
    box-shadow: 0px 0px 10px 2px rgb(48, 48, 48);
    transition: .5s;
}


hr {
 margin-top: 20px;
 margin-bottom: 20px;
}
#footer {
    text-align: center; 
    min-width: 575px;
    width: 85%;
    background-color: rgb(255, 255, 255, .9);
    box-shadow: 0px 0px 10px 2px rgb(0, 0, 0, .50);
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    padding: 10px 45px 10px 45px;
}
